{{ partial "header.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
        <div id="wrapper">

            <!-- Header -->
                <header id="header">

                    <div class="content">
                        <div class="inner">
                            <h1>There is nothing here</h1>
                            <h3>
                                <a href="{{ "/" | relURL }}">Click here to go back home </a>
                            </h3>
                        </div>
                    </div>
                </header>

            <footer id="footer">
            </footer>

        </div>

    <!-- BG -->
    <div id="bg"></div>

</body>

{{ partial "footer.html" . }}
